.content-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto 10em;
	grid-template-areas:
		"parag1 parag1 image1"
		"image2 image2 image2"
		"parag2 parag2 parag2"
		"back empty next";
	gap: 2em;
	margin-top: 1em;
}

main > div > p {
	font-size: calc(9px + 1vw);
}

.parag1 {
	grid-area: parag1;
	display: inline-block;
	padding-top: 2em;
	padding-left: 5em;
}

.image1 {
	grid-area: image1;
	display: inline-block;
	padding-top: 1em;
	width: 14em;
	height: auto;
	padding-right: 5.15em;
}

.image2 {
	grid-area: image2;
	text-align: center;
	width: 80%;
	height: auto;
	padding-left: 6em;
}

.parag2 {
	grid-area: parag2;
	padding-left: 5em;
	padding-right: 4.5em;
}

.back {
	grid-area: back;
	max-width: 100%;
	align-self: end;
}

div.back a img {
	width: 10em;
	height: auto;
}

.next {
	grid-area: next;
	justify-self: end;
	align-self: end;
	max-width: 100%;
}

div.next a img {
	width: 10em;
	height: auto;
}

@media screen and (max-width: 1170px) {
	.content-grid {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto auto auto;
		grid-template-areas:
			"image1 image1"
			"parag1 parag1"
			"image2 image2"
			"parag2 parag2"
			"back next";
		justify-content: center;
		gap: 1em;
	}
	
	.image1 {
		padding-right: 0;
		justify-self: center;
	}
	
	.parag1 {
		padding-top: 0;
		padding-left: 0;
	}
		
	.image2 {
		padding-left: 0;
		justify-self: center;
	}
	
	.parag2 {
		padding-left:0;
		padding-right: 0;
	}

}

@media screen and (max-width: 653px) {
	
	main > div > p {
		font-size: calc(16px + 1vw);
	}
	
	a {
		font-size: calc(20px + .8vw);
	}
	
	aside div.aside-content a p span {
		margin: 0;
		padding-top: 0.25em;
		font-size: calc(16px + 1vw);
		
	}
	
	.image2 {
		width: 100%;
	}
	
	div.back a img {
		width: 7em;
		justify-self: center;
	}
	
	div.next a img {
		width: 7em;
		justify-self: center;
	}
}


