.content-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto 12vw 12vw 32vw;
	grid-template-areas:
		"calltoaction calltoaction calltoaction"
		"image1 parag1 parag1"
		"parag2 parag2 parag2"
		"home home home";
	gap: 6em 2em;
	margin-top: 1em;
}

main > div > p {
	font-size: calc(9px + 1vw);
}


.calltoaction {
	grid-area: calltoaction;
	font-family: darksouls;
	font-size: calc(1em + 2.5vw);
	line-height: 1em;
	font-weight: bold;
	text-align: center;
}

.image1 {
	grid-area: image1;
	align-self: center;
	justify-self: end;
	width: 14em;
	height: auto;
}

.parag1 {
	grid-area: parag1;
	align-self: center;
	justify-self: start;
}

.parag2 {
	grid-area: parag2;
	align-self: center;
	justify-self: center;
	padding-left: 4em;
	padding-right: 2em;
}

.home {
	grid-area: home;
	justify-self: center;
	align-self: end;
	max-width: 100%;
}

div.home a img {
	width: 10em;
	height: auto;
}

@media screen and (max-width: 653px) {
	
	main > div > p {
			font-size: calc(16px + 1vw);
	}
	
	a {
		font-size: calc(20px + .8vw);
	}
	
	aside div.aside-content a p span {
		margin: 0;
		padding-top: 0.25em;
		font-size: calc(16px + 1vw);
	}

	.content-grid {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: repeat(5, auto);
		grid-template-areas:
			"calltoaction calltoaction"
			"image1 image1"
			"parag1 parag1"
			"parag2 parag2"
			"home home";
		gap: 2em;
	}
	
	.image1 {
		justify-self: center;
	}
	
	.parag1 {
		justify-self: center;
	}
	
	.parag2 {
		padding-left: 0;
		padding-right: 0;
	}

	div.home a img {
		width: 7em;
		justify-self: center;
	}
}